.mainBanner {
  text-align: center;
}

.img1 {
 width: 100%;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
}

.navbar {
 margin: 0;
 padding: 0;
 background-color:rgb(232, 4, 4);
 box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1)
 
}

.navbar ul{
  margin-top: 0;
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;

}

.navbar li{
  height: 50px;
 
}

.navbar a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
}

.navbar a:hover {
 background-color: black;
}

.driverInfoHeader h1{
  background-color:rgb(232, 4, 4);
  color: white;
  margin-top: 2%;
  padding: 0.6%;
  padding-left: 2%;
}

.driverInfoHeader h2 {
  padding: 2%;
}

#name {
 margin-left: 2%;
 
}

#data-container1 {
  padding: 2%;
 
}

.racingTelemetryHeader h2{
  padding: 2%;
}

.racingTelemetryHeader h1{
  background-color:rgb(232, 4, 4);
  color: white;
  margin-top: 2%;
  margin-left: 0;
  padding: 0.6%;
  padding-left: 2%;
}

#data-container3 {
  padding: 2%;
}

.circuitInfoHeader h1{
  background-color:rgb(232, 4, 4);
  color: white;
  margin-top: 2%;
  margin-left: 0;
  padding: 0.6%;
  padding-left: 2%;
}

.circuitInfoHeader h2{
  padding: 2%;
}

.circuitInput{
  padding-left: 2%;
}

#data-container3 h1{
  background-color:rgb(232, 4, 4);
  color: white;
  margin: 0;
  border: 0%;
  padding: 1%;
  padding-left: 2%;
}

#data-container2 h1 {
  background-color:rgb(232, 4, 4);
  color: white;
  margin-top: 2%;
  margin-left: 0;
  padding: 0.6%;
  padding-left: 2%;
}

#data-container2 h3 {
  margin-left: 2%;
  margin-top: 2%;
}

 #telemetryNumber{
 margin-left: 2%;
}

